.footer-content {
  display: flex;
  padding: 80px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.footer-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 50px 30px 50px 30px;

}

.footer-section {
  p, a {
    color: #939393;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: medium;
    font-weight: 100;
    font-family: sans-serif;
    line-height: 2rem;

  }
}

p {
  font-size: large;
}

.info i {
  display: inline-flex;
  margin-right: 10px;
}

.info span {
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 2rem;
  color: #939393;
}


.copyright {
  color: aliceblue;
  text-align: center;
  background-color: rgb(25, 25, 54);
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 700px) {
  .footer-content {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  .logo {
    align-self: center;
  }

  .footer-section {
    width: fit-content;
  }
}

.block-logo {
  width: 20%;
}

footer {
  background-color: rgb(1, 1, 21);
}

.footer-section .logo {
  margin-bottom: 50px;
  margin-top: 0;
  width: 200px;
}

.footer-section-text {
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 30px
}

//header {
//  height: 100px;
//  width: 100vw;
//  padding: 30px 50px 30px 30px;
//  position: fixed;
//  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}

.block-ad-logo {
  display: flex;
  align-items: center;
}

.pop-up-payment-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  width: 600px;
}

.pop-up-payment-form label,
.pop-up-payment-form input,
.pop-up-payment-form button {
  display: block;
  margin-bottom: 10px;

}

.payment-form-btn {
  display: flex;
  justify-content: space-around;
}

.payment-success-pop-up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-width: 20px;
  box-shadow: 0 0 10px rgba(12, 1, 1, 0.1);
  z-index: 9999;
  width: 400px;
  font-size: large;
  font-weight: bolder;
}

.payment-success-pop-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: green;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.order-detail-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-width: 20px;
  box-shadow: 0 0 10px rgba(12, 1, 1, 0.1);
  z-index: 9999;
  width: 50%;
  font-size: large;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
}



.order-detail {
  position: relative;
  overflow-x: auto;
}


.detail-view-row-content {
  width: fit-content;
  height: min-content;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 100px;
}

.book-order-info {
  align-items: flex-start;
  gap: 20px;
}

//.view-field-image {
//  width: fit-content;
//  max-width: 50%;
//}

@media (max-width: 1000px) {
  .order-detail-popup {
    width: 100%;
  }

  //.view-row-content {
  //  width: fit-content;
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  //
  //}

  .book-order-info {
    justify-content: center;
    align-items: center;
  }
}

.book-order-info {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.close-btn {
  /* Styles for the close button */
  position: fixed;
  top: 5px;
  /* Adjust as needed for top spacing */
  right: 5px;
  /* Adjust as needed for right spacing */
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
  z-index: 999;
  /* Ensure the button stays above the popup content */
}

