.footer-content {
  display: flex;
  padding: 80px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.footer-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 50px 30px 50px 30px;

}

.footer-section p,
a {
  color: #939393;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: medium;
  font-weight: 100;
  font-family: sans-serif;
  line-height: 2rem;

}

p {
  font-size: large;
}

.info i {
  display: inline-flex;
  margin-right: 10px;
}

.info span {
  font-size: medium;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 2rem;
  color: #939393;
}


.copyright {
  color: aliceblue;
  text-align: center;
  background-color: rgb(25, 25, 54);
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width:700px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-section {
    width: fit-content;
  }
}