h1#heading {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(4, 105, 4);
}

#left {
  width: 20%;
}

#right {
  width: 75%;
}

#contentDiv {
  width: 100%;
  justify-content: space-between;
}

.product-wrap {
  display: flex;
  flex-direction: row;
}

.main-content {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

#accordion {
  width: 100%;
}

#accordion .filter {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  color: rgb(4, 105, 4);
  box-shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
}

#accordion .catePrice {
  padding: 5px 15px;
}

#accordion .catePrice .filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#accordion .catePrice label {
  font-size: 15px;
}

#accordion .catePrice input {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.pagination {
  display: block;
  width: 80%;
  margin: 20px 39%;
}

.pagination .pagination-button {
  margin: 0 5px;
  background-color: white;
  color: #121823;
  font-size: 13px;
  border-color: #121823;
  padding: 5px 15px;
}

.pagination .pagination-button:hover {
  background-color: #121823;
  color: white;
}

.pagination .pagination-button.active {
  background-color: #121823;
  color: white;
}

.pagination .pagination-button.disabled {
  background-color: #b3b3b3;
  border: none;
  color: black;
}

@media (max-width: 800px) {
  #contentDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #left,
  #right {
    width: 100%;
  }
}

.banner {
  width: 100%;
  height: auto;
  padding-bottom: 100px;
}

.slideshow {
  overflow: hidden;
  width: 100%;
  height: 550px;
  margin: 0 auto;
  position: relative;
}

.slide-wrapper {
  width: 100%;
  height: 600px;
  position: relative;
  transition: all 1.0s ease;
}

.banner-img img {
  width: 100%;
  height: 550px;
  position: absolute;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-btn i {
  color: #333;
  font-size: 32px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.8s ease;
  cursor: pointer;
  margin: 0 1%;
}

.slideshow:hover i {
  opacity: 1;
}

.slide-wrapper div:nth-child(2) img {
  transform: translateX(100%);
}

.slide-wrapper div:nth-child(3) img {
  transform: translateX(200%);
}

.slide-wrapper div:nth-child(4) img {
  transform: translateX(300%);
}

.slide-wrapper div:nth-child(5) img {
  transform: translateX(400%);
}

@media (max-width: 1924px) {
  .banner {
    height: 730px;
  }
  .slideshow {
    height: 720px;
  }
  .banner-img img {
    height: 720px;
    width: 100%;
  }
  .slider-btn i {
    font-size: 50px;
  }

  h1#heading {
    padding-top: 100px;
  }
}

@media (max-width: 1280px) {
  .main-content {
    margin-top: 0px;
  }
  .banner {
    height: 400px;
  }
  .banner-img img {
    height: 390px;
    width: 100%;
  }
  h1#heading {
    font-size: 30px;
  }
  .slider-btn {
    top: 30%;
  }
  .slider-btn i {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .main-content {
    margin-top: 0px;
  }
  .banner {
    height: 300px;
  }
  .banner-img img {
    height: 290px;
    width: 100%;
  }
  h1#heading {
    font-size: 30px;
  }
  .slider-btn {
    top: 20%;
  }
}

@media (max-width: 575px) {
  .main-content {
    margin-top: 0px;
  }
  .banner {
    height: 170px;
  }
  .banner-img img {
    height: 160px;
    width: 100%;
  }
  h1#heading {
    font-size: 20px;
  }
  .slider-btn {
    top: 10%;
  }
  .slider-btn i {
    font-size: 20px;
  }
}
