@mixin font-regular($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

@mixin font-medium($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: 500;
}

@mixin font-semiBold($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: 600;
}

@mixin font-bold($font-size, $line-height, $color) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
  font-weight: 700;
}

@mixin font($font-size, $line-height,$letter-spacing) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

@mixin heading($heading: null) {
  font-weight: 700;
  @if ($heading == heading-1) {
    @include font(48px, 60px, -1px);
    @media(max-width: 767px) {
      @include font(32px, 40px, -0.6px);
    }
  } @else if ($heading == heading-2) {
    @include font(39px, 48px, -0.8px);
    @media(max-width: 767px) {
      @include font(28px, 35px, -0.5px);
    }
  } @else if ($heading == heading-3) {
    @include font(32px, 40px, -0.6px);
    @media(max-width: 767px) {
      @include font(24px, 31px, -0.35px);
    }
  } @else if ($heading == heading-4) {
    @include font(25px, 31px, -0.4px);
    @media(max-width: 767px) {
      @include font(20px, 25px, -0.25px);
    }
  } @else if ($heading == heading-5) {
    @include font(20px, 28px, -0.2px);
    @media(max-width: 767px) {
      @include font(16px, 24px, null);
    }
  } @else if ($heading == heading-6) {
    @include font(16px, 28px, null);
    @media(max-width: 767px) {
      @include font(16px, 26px, null);
    }
  }
}

@mixin button($type: null) {
  font-weight: 600;
  border-radius: 4px;
  color: #fff;
  background-color: $bg-btn;
  padding: 12px 16px;
  border: 1px solid $bg-btn;
  outline: none;
  transition: all 0.2s;
  &:hover {
    background-color: #fff;
    color: $bg-btn;
  }
}

@mixin flex-layout($columns: null,$gap: null) {
  display: flex;
  flex-wrap: wrap;
  row-gap: $gap;
  margin: 0 calc(($gap / 2) * -1);
  @media(max-width: 575px) {
    margin: 0;
  }

  .views-row {
    margin: 0 calc($gap / 2);
    @if ($columns == two) {
      flex: 0 0 calc(50% - $gap);
      max-width: calc(50% - $gap);

      @media (max-width: 575px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

    } @else if ($columns == three) {
      flex: 0 0 calc((100% / 3) - $gap);
      max-width: calc((100% / 3) - $gap);

      @media (max-width: 991px) {
        flex: 0 0 calc(50% - $gap);
        max-width: calc(50% - $gap);
      }

      @media (max-width: 575px) {
        flex: 0 0 100%;
        max-width: 100%;
      }

    } @else if ($columns == four) {
      flex: 0 0 calc(25% - $gap);
      max-width: calc(25% - $gap);

      @media (max-width: 1280px) {
        flex: 0 0 calc((100% / 3) - $gap);
        max-width: calc((100% / 3) - $gap);
      }

      @media (max-width: 991px) {
        flex: 0 0 calc(50% - $gap);
        max-width: calc(50% - $gap);

      }
      @media (max-width: 575px) {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    @media(max-width: 575px) {
      margin: 0;
    }
  }
}

@mixin checkbox($size) {
  display: inline-block;
  position: relative;
  width: $size - 2;
  height: $size - 2;
  border-radius: 4px;
  margin: 0 12px 0 0;

  &:before, &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $size;
    height: $size;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #E6E9EB;
    background-position: center;
  }

  &:hover {
    &:after {
      cursor: pointer;
      border-width: 2px;
      border-color: #16335f;
    }
  }

  &:focus {
    &:before {
      width: $size + 2;
      height: $size +2;
      outline: 2px solid #8B5CD7;
    }
  }

  &:checked {
    &:before {
      width: $size + 2;
      height: $size + 2;
      outline: 2px solid #8B5CD7;
    }

    &:after {
      border-color: $primary-color;
      border-width: 2px;
      background-image: url("../../images/icon-checked.svg");
      background-repeat: no-repeat;
      background-size: $size;
    }
  }

  //&:active {
  //  &:after {
  //    border-color: $txt-body;
  //    border-width: 2px;
  //    background-image: url("../../../images/icon-checked-active.svg");
  //  }
  //}
  //
  //&:invalid {
  //  &:after {
  //    border-color: #CE3836;
  //    border-width: 2px;
  //    background-image: url("../../../images/icon-checked-invalid.svg");
  //  }
  //}
}

@mixin select() {
  display: flex;
  align-items: center;
  padding: 9px 15px;
  border-radius: 4px;
  border: 1px solid #E6E9EB;
  background-color: #fdfdfd;
  font-size: inherit;
  line-height: 28px;
  height: auto;
  min-width: 190px;
  background-image: url("../../images/icon-select.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: calc(100% - 12px);
  -webkit-appearance: none;
  text-indent: 1px;

  @media(max-width: 575px) {
    line-height: 26px;
  }
  &:hover, &:focus, &:active, &:invalid, &:focus-visible {
    border-width: 2px;
    padding: 8px 15px;
    outline: none;
    box-shadow: none;
  }
  &:hover {
    cursor: pointer;
    border-color: $primary-color;
  }
  &:focus, &:active, &:focus-visible {
    border-color: $primary-color;
  }
  &:invalid {
    border-color: $invalid;
  }
}
