//Color
$bg-gray: #f0f0f0;
$bg-btn: #C92127;
$invalid: #f33a58;
$valid: #4BB543;
$blue-100: #bde0fe;
$pink-100: #ffc8dd;
$purple-100: #cdb4db;
$yellow-100: #e9c46a;

$primary-color: #F18E7D;

//Fonts
$font-family: "Montserrat", sans-serif;

//Anime - Shadow
$shadow: 0px 15px 25px -4px rgba(150, 150, 150, 0.24);
